<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--<bean id = "zhangsan" class="com.km.entities.Person">
        <property name="name" value="张三"/>
        <property name="age" value="19"/>
        <property name="sex" value="male"/>
        <property name="telephone" value="13823239239"/>
        <property name="address" value="广东深圳"/>
    </bean>-->
    <bean class="com.km.entities.Person">
        <property name="name" value="李四"/>
        <property name="age" value="20"/>
        <property name="sex" value="male"/>
        <property name="telephone" value="13823239239"/>
        <property name="address" value="广东广州"/>
    </bean>

</beans>